<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>自动化运维平台</title>   
</head>
<body>
<div class="container">
<!--上方导航栏-->
<!--    <div class="navbar navbar-default navbar-fixed-top navbar-inverse">       -->
    <div class="navbar navbar-inverse navbar-default navbar-fixed-top" role="navigation">
        <div class="navbar-header">
            <a class="navbar-brand" href="#">基于inception的自动化平台</a>
        </div>
        <div class="collapse navbar-collapse" style="margin-right:20px;">
            <ul class="nav navbar-nav" >
                <li ><a href="#">任务一<span class="sr-only"></span></a></li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">设置 <span class="caret"></span></a>
                    <ul class="dropdown-menu" role="menu">
                        <li><a href="#jiuzhaigou">第一选项</a></li>
                        <li><a href="#lijiang">第二选项</a></li>
                        <li><a href="#shuiliandong">第三选项</a></li>
                        <li class="divider"></li>
                        <li><a href="#">有待开发..</a></li>
                    </ul>
                </li>
                <li data-toggle="modal" data-target="#about"><a href="#" >关于</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li data-toggle="modal" data-target="#signin-signup-tab" id="signin-button"><a href="#">Hi,shenhongbin</a></li>
                <li data-toggle="modal" data-target="#signin-signup-tab" id="signup-button" ><a href="#" >登出</a></li>
            </ul>
        </div>
    </div>
<!--上部导航栏结束 -->
<div class="row clearfix" style="margin-top:50px">
                <div class="col-md-3 column">
                    <div class="list-group">
                        <a href="#" class="list-group-item active" ><span class="glyphicon glyphicon-home" style="margin-right: 10px"></span> 查看历史工单</a>
                        <div class="list-group-item">
                            <span class="glyphicon glyphicon-asterisk" style="margin-right: 10px"></span>发起SQL上线
						</div>
                        <div class="list-group-item">
                            <span class="glyphicon glyphicon-th-large" style="margin-right: 10px"></span>主库地址配置
                        </div>
                        <div class="list-group-item">
                            <span class="glyphicon glyphicon-user" style="margin-right: 10px"></span>用户权限配置
                        </div>
                    </div>
                </div>
</div>
<!--下部导航栏 -->
    <div class="navbar navbar-inverse navbar-default navbar-fixed-bottom" role="navigation">
	<ul class="nav navbar-nav" style="margin-left:400px;">
            <li ></li>
	    <li><a href="##">超链接1</a></li>
            <li><a href="##">超链接2</a></li>
            <li><a href="##">超链接3</a></li>
            <li><a href="##">超链接4</a></li>
            <li><a href="##">超链接5</a></li>
            <li><a href="##">超链接6</a></li>
	</ul>
    </div> 
</div>
<!--下部导航栏结束 -->

<!-- script 文件-->
<link rel="stylesheet" href="static/bootstrap-3.3.7-dist/css/bootstrap.min.css">  
<script src="static/jquery-3.2.1.min.js"></script>
<script src="static/bootstrap-3.3.7-dist/js/bootstrap.min.js"></script>

</body>
</html>
