<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>自动化运维平台</title>   
    <style>
    #background
    {
        margin-top:2px;
        height:750px;
        width:1000px;
        background:url(jpg/1.jpg) no-repeat;
    }
    </style>
</head>
<body>
<div class="container">
<!--上方导航栏-->
<!--    <div class="navbar navbar-default navbar-fixed-top navbar-inverse">       -->
    <div class="navbar navbar-inverse navbar-default navbar-fixed-top" role="navigation">
        <div class="navbar-header">
            <a class="navbar-brand" href="#">基于inception的自动化平台</a>
        </div>
        <div class="collapse navbar-collapse" style="margin-right:20px;">
            <ul class="nav navbar-nav" >
                <li ><a href="#">任务一<span class="sr-only"></span></a></li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">设置 <span class="caret"></span></a>
                    <ul class="dropdown-menu" role="menu">
                        <li><a href="#jiuzhaigou">第一选项</a></li>
                        <li><a href="#lijiang">第二选项</a></li>
                        <li><a href="#shuiliandong">第三选项</a></li>
                        <li class="divider"></li>
                        <li><a href="#">有待开发..</a></li>
                    </ul>
                </li>
                <li data-toggle="modal" data-target="#about"><a href="#" >关于</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li data-toggle="modal" data-target="#signin-signup-tab" id="signin-button"><a href="#" >登陆</a></li>
                <li data-toggle="modal" data-target="#signin-signup-tab" id="signup-button" ><a href="#" >注册</a></li>
            </ul>
        </div>
    </div>
<!--上部导航栏结束 -->
<!--主体部分 -->
    <div class="row" id="background" style="padding-top:70px;">
        <div class="col-md-6" style="border-right:1px solid #ddd;">
        </div>
        <div class="col-md-6" style="border-right:1px solid #ddd;padding-top:70px;">
            <div class="well col-md-10">
                <form action="" method="">
                <h3 style="text-align:center">用户登录</h3>
                <div class="input-group input-group-md">
                    <span class="input-group-addon" id="sizing-addon1"><i class="glyphicon glyphicon-user" aria-hidden="true"></i></span>
                    <input type="text" class="form-control" placeholder="用户名" name="username" required>
                </div>
                <div class="input-group input-group-md">
                    <span class="input-group-addon" id="sizing-addon1"><i class="glyphicon glyphicon-lock"></i></span>
                    <input type="password" class="form-control" placeholder="密码" name="password" required>
                </div>
                    </br>
                    </br>
                    <button type="submit" class="btn btn-success btn-block">登录</button>
                </form>
            </div>
        </div>
    </div>
    <div class="navbar navbar-inverse navbar-default navbar-fixed-bottom" role="navigation">
	<ul class="nav navbar-nav" style="margin-left:400px;">
            <li ></li>
	    <li><a href="##">超链接1</a></li>
            <li><a href="##">超链接2</a></li>
            <li><a href="##">超链接3</a></li>
            <li><a href="##">超链接4</a></li>
            <li><a href="##">超链接5</a></li>
            <li><a href="##">超链接6</a></li>
	</ul>
    </div> 
</div>


<link rel="stylesheet" href="static/bootstrap-3.3.7-dist/css/bootstrap.min.css">  
<script src="static/jquery-3.2.1.min.js"></script>
<script src="static/bootstrap-3.3.7-dist/js/bootstrap.min.js"></script>
</body>
</html>
